.reveal-viewport {
  background-image: url('https://www.avenga.com/wp-content/themes/custom-theme/images/logos/logo-negative-white.svg');
  background-repeat: no-repeat;
  background-position: right 50px top 25px;
  background-size: auto 60px, 20% 20%;
}

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-align: left;
  margin-bottom: 0.5em;
  text-transform: initial;
  margin-left: 1em;
}

.reveal code {
  line-height: 1;
}

.reveal pre code {
  max-height: 550px;
  line-height: 1.1;
}

.reveal pre code.code-more {
  max-height: 600px;
  font-size: 0.6em;
}

.reveal pre code.code-more tr {
  line-height: 1.1;
}

.reveal .slides {
  text-align:left;
}

.reveal code {
  font-size: 0.8em;
}

.reveal .code-wrapper code {
  font-size: 1.0em;
}
